Source: python-jsonref
Section: python
Priority: optional
Maintainer: Vítězslav Dvořák <info@vitexsoftware.cz>
Build-Depends:
 debhelper-compat (= 13),
 dh-python,
 pybuild-plugin-pyproject,
 python3-all,
 python3-pdm-backend,
Standards-Version: 4.7.0
Homepage: https://github.com/gazpachoking/jsonref
Vcs-Git: https://github.com/gazpachoking/jsonref.git
Vcs-Browser: https://github.com/gazpachoking/jsonref
Rules-Requires-Root: no

Package: python3-jsonref
Architecture: all
Depends:
 ${misc:Depends},
 ${python3:Depends},
Description: Library for automatic dereferencing of JSON Reference objects
 jsonref is a library for automatic dereferencing of JSON Reference
 objects for Python (see https://tools.ietf.org/html/draft-pbryan-zyp-json-ref-03).
 .
 It allows you to work with JSON documents that use references to other
 documents or parts of the same document. The library automatically resolves
 these references to return the complete data structure.
 .
 This package provides the Python 3 library.
